---
import Style from "./style.module.css";
import { Linkedin, Github, Twitter } from "@lucide/astro";
---

<section class={Style.info} id="info">
  <section class={Style.sec_img}>
    <h1>kaleth D. Mendoza</h1>
    <img src="/img/main.png" alt="" />
  </section>
  <section class={Style.sec_items}>
    <a href="https://github.com/devkaleth" target="_blank">
      <Github size="20" />
      <p>Github</p>
    </a>
    <a
      href="https://www.linkedin.com/in/kaleth-david-mendoza-vasquez-532bb4361/"
      target="_blank"
      class={Style.a_linkedin}
    >
      <Linkedin size="20" />
      <p>LinkedIn</p>
    </a>
    <a href="https://twitter.com/kalethdd" target="_blank">
      <Twitter size="20" />
      <p>Twitter</p>
    </a>
  </section>

  <section class={Style.sec_number}>
    <section class={Style.sec_a} id="cv">
      <a href=""> > Descargar CV</a>
    </section>
    <p>dev.kaleth.mendoza@gmail.com</p>
  </section>
</section>

<script is:inline>
  const cv = document.querySelector("#cv");
  const url = "/cv/kaleth_mendoza.pdf";
  cv.addEventListener("click", (e) => {
    e.preventDefault();
    const a = document.createElement("a");
    a.href = url;
    a.download = "kaleth_mendoza.pdf";
    a.click();
  });
</script>
