---
import Style from "./style.module.css";
import { House, Undo2, Menu } from "@lucide/astro";
---

<div class={Style.design}>
  <h2>Diseños</h2>
  <div>
    <a
      href="https://www.figma.com/design/atGCpWR3MnQo0gC9FfU41h/taskly?node-id=0-1&t=sbZ2qPslXDtNbFDh-1"
      target="_blank"
    >
      <section>
        <section class={Style.banner_phone}></section>
        <img src="/img/design/taskly.png" alt="" />
        <section class={Style.banner_phone_menu}>
          <Undo2 />
          <House />
          <Menu />
        </section>
      </section>
    </a>

    <a
      href="https://www.figma.com/design/laLByBmvIPgEj3hKwSMXEn/Picture-chanllege?node-id=0-1&t=1MOhrBSUsMh518sp-1"
      target="_blank"
    >
      <section>
        <section class={Style.banner_phone}></section>
        <img src="/img/design/chanllege.png" alt="" />
        <section class={Style.banner_phone_menu}>
          <Undo2 />
          <House />
          <Menu />
        </section>
      </section>
    </a>
  </div>
</div>
