---
import Style from "./style.module.css";
import { Linkedin, Github } from "@lucide/astro";
---

<nav class={Style.nav} id="nav">
  <section class={Style.sec_link_redes}>
    <a href="https://x.com/KalethDD" target="_blank">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        ><g
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          color="currentColor"
          ><path
            d="M2.5 12c0-4.478 0-6.718 1.391-8.109S7.521 2.5 12.001 2.5c4.478 0 6.717 0 8.108 1.391S21.5 7.521 21.5 12c0 4.478 0 6.718-1.391 8.109S16.479 21.5 12 21.5c-4.478 0-6.717 0-8.109-1.391c-1.39-1.392-1.39-3.63-1.39-8.109"
          ></path><path
            d="m7 17l4.194-4.193M17 7l-4.193 4.194m0 0L9.777 7H7l4.194 5.807m1.613-1.614L17 17h-2.778l-3.028-4.193"
          ></path></g
        ></svg
      >@kalethDD
    </a>
  </section>
  <section class={Style.sec_img}>
    <h1>kaleth D. Mendoza</h1>
    <img src="/img/main.png" alt="" />
  </section>
  <section class={Style.sec_items}>
    <a href="https://github.com/devkaleth" target="_blank">
      <Github size="20" />
      <p>Github</p>
    </a>
    <a
      href="https://www.linkedin.com/in/kaleth-david-mendoza-vasquez-532bb4361/"
      target="_blank"
      class={Style.a_linkedin}
    >
      <Linkedin size="20" />
      <p>LinkedIn</p>
    </a>
  </section>

  <section class={Style.sec_number}>
    <section class={Style.sec_a} id="cv">
      <a href=""> > Descargar CV</a>
    </section>
    <p>dev.kaleth.mendoza@gmail.com</p>
  </section>
</nav>

<script is:inline>
  const cv = document.querySelector("#cv");
  const url = "/cv/kaleth_mendoza.pdf";
  cv.addEventListener("click", (e) => {
    e.preventDefault();
    const a = document.createElement("a");
    a.href = url;
    a.download = "kaleth_mendoza.pdf";
    a.click();
  });
</script>
